.App {
  text-align: center;
}

.intropageimages {
  height: 125px;
  align-self: center;
}

.introimage {
  width: 75%;
  max-width: 75%;
  max-height: 50%;
  align-self: center;
}

.communityfriendimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lawyerimage {
  height: 100%;
  object-fit:scale-down;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Menu Bar */

.menuDivider {
  borderBottomWidth: 1.5;
  background: #2D5E6E;
}

.buttonPadding {
  padding: 8px;
}

/* General Layout */

#root {
  height: 100vh;
}

.chatbotContainer {
  height: 100%
}


